* {
  /*border-style: solid;
  border-width: thin;*/
  font-size: 16px;
}

body {
  display: flex;
  /*height: 100%;*/
  width: 100%;
  /*justify-content: center;*/
  /*flex-direction: column;
  -ms-align-items: center;*/
  align-items: center;
}

div {
  /*color: purple;*/
}

.container-fluid, #mapSection, #componentLayer {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
}

#componentLayer {
  color: green;
  display: flex;
  justify-content: center;
  z-index: -1;
}

.left-panel {
  display: flex;
  background-color: #3d3d3e;
  opacity: 0.6;
  /*position: absolute;
  top: 5em;
  left: 1em;*/
  /*z-index: 2;*/
  width: 30%;
  /*flex-basis: 20em;*/
  flex-direction: column;
  max-height: 80vh;
  padding: 0.5em;
  border-radius: 5px;
  margin: 5em 0 3em 1em;
}

.list-search {
  padding: 2px 0 0 0;
}

.form-control {
  opacity: 0.8;
  background-color: #3d3d3e;
  color: white;
  font-weight: bolder;
}

.left-panel-items {
  opacity: 1;
  word-wrap: break-word;
  list-style: none;
  color: white;
  font-weight: bolder;
  padding: 0;
  flex-grow: 0;
  overflow: auto;
}

.left-panel-item {
  border-bottom: 1px solid white;
}

img {
  opacity: 1;
}

.left-panel-items li:hover {
  background-color: #6f4802;
  cursor: pointer;
}

/* TODO: correct active selection state */
/*.left-panel-item:active {
  background-color: #6f4802;
  border-color: red;
  border-style: dashed;
}*/

/* Smartphones (portrait) */
@media only screen and (max-width: 768px) and (orientation: portrait) {
  body {
    font-size: 16px;
    display: flex;
    /*height: 100%;*/
    width: 100%;
    /*justify-content: center;*/
    flex-direction: column;
    /*-ms-align-items: center;*/
    align-items: center;
    flex-grow: 1;
  }

  header p { padding-left: 4.5em;}

  .left-panel {
    display: flex;
    position: relative;
    top:22em;
    left: auto;
    background-color: #3d3d3e;
    opacity: 0.6;
    width: 80%;
    /*flex-basis: 30em;*/
    max-height: 35vh;
    flex-direction: column;
    border-radius: 5px;
    padding: 0.5em;
    margin: 0;
  }
}

/* Smartphones (landscape) */
@media only screen and (max-width: 768px) and (orientation: landscape) {
  body {
    font-size: 16px;
    display: flex;
    /*height: 100%;*/
    width: 100%;
    /*justify-content: center;*/
    flex-direction: column;
    /*-ms-align-items: center;*/
    align-items: flex-start;;
    flex-grow: 1;
  }

  header p { padding-left: 4.5em;}

  .left-panel {
    display: flex;
    background-color: #3d3d3e;
    opacity: 0.6;
    /*position: absolute;
    top: 5em;
    left: 1em;*/
    /*z-index: 2;*/
    width: 30%;
    height: 70%;
    /*flex-basis: 9em;*/
    /*min-width: 300px;*/
    flex-direction: column;
    max-height: 70vh;
    padding: 0.5em;
    border-radius: 5px;
    margin: 5em 0 3em 1em;
  }
}
