* {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

body {
  width: 100%;
  height: 100%;
}

#mapSection {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.flex-container {
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  height: 100vh;
}

.left-panel {
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  flex-direction: column;
  max-height: 80vh;
  background-color: #3d3d3e;
  opacity: 0.7;
  border-radius: 5px;
  padding: 0.5em;
  margin: 5em 0 3em 1em;
}

.list-search {
  padding: 2px 0 0 0;
}

.form-control {
  opacity: 0.8;
  background-color: #3d3d3e;
  color: white;
  font-weight: bolder;
}

.left-panel-items {
  opacity: 1;
  word-wrap: break-word;
  list-style: none;
  color: white;
  font-weight: bolder;
  padding: 0;
  overflow-y: scroll;
}

.left-panel-item {
  border-bottom: 1px solid white;
}

.left-panel-items li:hover {
  background-color: #a1721f;
  cursor: pointer;
}

.infoWindow-Container {
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  flex-direction: column;
}

.infoWindow-Content-Top {
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  justify-content: space-between;
}

.infoWindow-Content-Right {
  padding: 0 0 0 1em;
}

.infoWindow-Content-Bottom {
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  max-width: 300px;
  flex-direction: column;
}

.bg-danger {
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  color: rgb(1, 1, 1);
  font-weight: bold;
  justify-content: center;
  padding: 20%;
  height: 100vh;
}

/* Smartphones (portrait) */
@media only screen and (max-width: 768px) and (orientation: portrait) {
  .flex-container {
    width: 100%;
    justify-content: center;
    align-items: flex-end;
  }

  .left-panel {
    overflow-y: scroll;
    background-color: #3d3d3e;
    opacity: 0.7;
    max-height: 35vh;
    border-radius: 5px;
    padding: 0.5em;
    margin: 0;
  }
}

/* Smartphones (landscape) */
@media only screen and (max-width: 768px) and (orientation: landscape) {
  .left-panel {
    background-color: #3d3d3e;
    opacity: 0.6;
    width: 30%;
    max-height: 70vh;
    padding: 0.5em;
    border-radius: 5px;
    margin: 5em 0 3em 1em;
  }
}
